* {
  font-family: "Roboto", sans-serif;
}

a:link, a:visited, a:active, a:hover {
  color: #fff;
  text-decoration: none;
}

.main_btn {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background-image: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  border-radius: 7px;
}
.main_btn:hover {
  background-image: none;
  background-color: #1CA8C3;
}

.label {
  margin: 0px auto 0 auto;
  background-color: #000;
  width: 113px;
  height: 24px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.title {
  text-align: center;
  margin-top: 33px;
  text-transform: uppercase;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.sub_title {
  margin-top: 19px;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/*	  -----	  Header Section	  -----	  */
.main_head {
  position: relative;
  height: 52px;
  background-color: #212121;
  color: #fff;
}

.menu_list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 8px;
  margin: 0;
}

.menu_link {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}

.menu_item {
  border-right: 3px #000 dotted;
  padding: 7px 50px 7px 0;
}
.menu_item:last-child {
  border-right: none;
}

.logo {
  display: block;
}

.sub_header {
  margin-top: 5px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 12px;
  z-index: 1;
}

.img_logo {
  display: block;
  padding-bottom: 0px;
  line-height: 10px;
}

.partner {
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
}

.calling {
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.contact_number {
  text-align: left;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.btn_call_back {
  width: 172px;
  height: 56px;
}

/*	  -----	  Promo Section	  -----	  */
.promo {
  min-height: 799px;
  padding-top: 88px;
  background: url(../img/background/uber_bg.png) center center/cover no-repeat;
  z-index: 1;
  color: #fff;
}

.promo_title {
  padding-top: 67px;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.promo_sub_title {
  margin-top: 24px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.promo_title, .promo_sub_title {
  text-align: center;
}

.promo_text {
  padding-top: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.promo_btn {
  padding-top: 98px;
}

.promo_btn_text {
  margin: 0 auto;
  display: block;
  width: 259px;
  height: 63px;
  font-size: 14px;
}

/*	  -----	  Advantages Section	  -----	  */	
.advantages {
  min-height: 800px;
  padding: 50px 0;
}

.adv_wrap {
  margin-top: 16px;
  padding-left: 80px;
}

.adv_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adv_item_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 116px;
  height: 116px;
  background-color: #1EACC7;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.adv_item_img {
  max-width: 100%;
}

.adv_item_desc {
  width: 500px;
  padding-left: 28px;
}

.adv_item_title {
  max-width: 341px;
  color: #1EACC7;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.adv_item_text {
  max-width: 450px;
  color: #202020;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}

/*	  -----	  App Section	  -----	  */ 
.app {
  min-height: 864px;
  background: url(../img/background/mobile_bg.png) center center/cover no-repeat;
  padding: 50px 0;
}

.app_items_shell {
  margin: 0 auto;
  margin-top: 32px;
  width: 320px;
  height: 320px;
  position: relative;
}

.app_items_icon {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29px;
  height: 29px;
  background-color: #000;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.app_items_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}
.app_items_plus::before {
  content: "";
  background-color: #1CA8C3;
  width: 14px;
  height: 2px;
}
.app_items_plus::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: #1CA8C3;
}

.app_items_icon:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background-color: #232323;
}
.app_items_icon:hover .app_items_plus:before, .app_items_icon:hover .app_items_plus:after {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background-color: #FF5656;
}

.app_items_title {
  padding-top: 88px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}

.app_item_bg1 {
  background: url(../img/icons/mobile_section/1.png);
}

.app_item_bg2 {
  background: url(../img/icons/mobile_section/2.png);
}

.app_item_bg3 {
  background: url(../img/icons/mobile_section/3.png);
}

.app_item_bg4 {
  background: url(../img/icons/mobile_section/4.png);
}

.app_item_bg5 {
  background: url(../img/icons/mobile_section/5.png);
}

.app_item_bg6 {
  background: url(../img/icons/mobile_section/6.png);
}

/*	  -----	  Car Section	  -----	  */ 
.car_up {
  min-height: 502px;
  background-color: #000;
  padding: 50px 0;
}
.car_up_label {
  background-color: #fff;
  color: #000;
}
.car_up_title {
  color: #fff;
}
.car_up_subtitle {
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.car_up_container {
  position: relative;
}

.car_up_img {
  display: block;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 185px;
}

.car_down {
  min-height: 397px;
  background: url(../img/background/car_down_bg.png) center center/cover no-repeat;
  text-align: center;
  color: #222;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  padding-top: 210px;
}

/*	  -----	  Condition Section	  -----	  */ 
.condition {
  padding: 68px 0 80px 0;
}
.condition_block {
  padding-top: 33px;
}
.condition_title {
  color: #1CA8C3;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
}
.condition_required_title {
  margin-top: 62px;
  color: #FF5656;
}
.condition_block_desc {
  color: #1CA8C3;
}
.condition_list, .condition_block_desc {
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}
.condition li {
  list-style-type: none;
  margin: 0 0 10px 20px;
  position: relative;
}
.condition li::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 20px;
  width: 21px;
  left: -32px;
  background-image: url(../img/icons/check_points_blue.png);
}

.condition_required_list li::before {
  background-image: url(../img/icons/check_points_red.png);
}

/*	  -----	  World Section	  -----	  */ 
.world {
  min-height: 720px;
  background: url(../img/background/world_bg.png) center center/cover no-repeat;
  padding: 48px 0 22px 0;
  position: relative;
}
.world_label {
  background-color: #fff;
  color: #000;
}
.world_title {
  color: #fff;
}
.world_subtitle {
  color: #fff;
}
.world_links a:link, .world a:visited, .world a:active {
  color: #1CA8C3;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  position: absolute;
  bottom: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.world_links a:hover {
  color: #FF5656;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

/*	  -----	  Footer	  -----	  */ 
.footer {
  padding-top: 12px;
}
.footer_line {
  width: 301px;
  height: 4px;
  background-color: #1CA8C3;
  margin: 0 auto;
}
.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 10px;
}
.footer_menu > div {
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
}
.footer_menu > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_menu_social {
  padding: 5px 0 0 15px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_menu_social_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  background-color: #000;
  border-radius: 100%;
}
.footer_menu_social_items i {
  color: #fff;
}

.footer_menu_links {
  text-align: center;
}
.footer_menu_links_maine {
  display: inline-block;
  text-align: center;
}
.footer_menu_links_maine a {
  color: #070716;
  margin-right: 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 48px;
  text-transform: uppercase;
}
.footer_menu_links_sub a {
  text-align: center;
  color: #999;
  margin-left: 15px;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_menu_apps {
  padding-right: 10px;
}
.footer_menu_apps_item {
  display: inline-block;
  -ms-flex-item-align: center;
      align-self: center;
  width: 96px;
  height: 27px;
  margin-right: 6px;
}
.footer_menu_apps_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.footer_menu_apps_item_apps a {
  color: #fff;
  float: right;
  text-align: center;
}
.footer_menu_apps_lg {
  text-align: center;
}
.footer_menu_apps_lg a {
  display: block;
  color: #1CA8C3;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
}